/* 홈페이지 전체 폰트 및 정렬 */
body{ 
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    background-color: white;
}
/* 아이디-비번 입력창, 회원가입-탈퇴, 로그인 버튼 */
.input-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    gap: 20px;
    width: 290px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.089);
    position: relative;
}
/* 로그인 유지 버튼 */
.remember-me{
    margin-right: 200px;
    font-size: 12px;
}

/* 회원가입 버튼 */
.signup-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* 회원탈퇴 버튼 */
.resignup-button{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
/* 로그인 버튼 */
.login-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* 회원가입-로그인 창으로 이동하는 링크 */
.login-link{
    margin-top: 30px;

}
